---
const { url, title, description, tags } = Astro.props;
---

<div class="card postCard">
    <h3 class="postCard__title">{title}</h3>
    <p class="postCard__content">{description} <a href={url}>Voir plus</a></p>
    <hr class="postCard__content">
    <div class="postCard__tagcontainer">
    {
        tags.map((tag) => (
            <span class="tag">
                <a class="postCard__tag" href={`/tags/${tag}`}>#{tag}</a>
            </span>
        ))
    }
    </div>
</div>

<style lang="scss">
    .postCard {
        min-height: 15em;
        max-width: 80em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .postCard__title, .postCard__content {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }


    .postCard__tag {
        color: var(--link-color-blue);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
</style>
