---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;

---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="post__container">
        <div class="introduction">
            <h1>{frontmatter.title}</h1>
            <p>{frontmatter.description}</p>
            <img
                class="post__image"
                src={frontmatter.image.url}
                alt={frontmatter.image.alt}
            />
            <span
                >written by {frontmatter.author} - Published on: {
                    frontmatter.pubDate.slice(0, 10)
                }</span
            >
            <div class="tags">
                {
                    frontmatter.tags.map((tag) => (
                        <a class="tag" href={`/tags/${tag}`}>
                            #{tag}
                        </a>
                    ))
                }
            </div>
        </div>

        <div class="post__content">
            <slot />
        </div>
    </div>
</BaseLayout>

<style lang="scss">
    .post__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 80vw;
        margin: auto;
        
        h1, img {
            padding: 1em;
        }
    }
    .introduction {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5em;
        margin-top: 5em;
    }
    .post__image {
        max-width: 80vw;
    }

    .post__content {
        display: flex;
        flex-direction: column;
        max-width: 80vw;
        margin-bottom: 5em;
    }

	@media screen and (min-width: 700px) {
        .post__content, .post__image, .post__container {
            max-width: 60vw;
        }
    }
</style>
